{erl_opts, [no_debug_info]}.
{deps, [
    {jsone, {git, "https://github.com/sile/jsone.git"}},
    {encurses, {git, "https://github.com/sofuture/encurses", 
                {tag, "0.4.2"}}},
    {gun, {git, "https://github.com/ninenines/gun", 
                {tag, "2.0.0-pre.2"}}}
]}.

{escript_incl_apps,
 [mobtime, encurses, gun]}.
{escript_main_app, mobtime}.
{escript_name, mobtime}.
{escript_emu_args, "%%! -noinput +sbtu +A 50\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
